@model string
<div class="user-profile-page">
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch(`/User/UserProfileSwitcherPartialView`)
            .then(response => response.text())
            .then(response => {
                var container = document.querySelector('.user-profile-page');
                container.innerHTML += response;

                const contentName = "@Html.Raw(@Model)";
                if (!contentName.includes('UserCart')) {
                    const btns = document.querySelectorAll('.user-profile-nav-menu-item');
                    btns.forEach(btn => {
                        var text = btn.querySelector('.user-profile-nav-menu-item-text').textContent;
                        if (text === contentName) NavMenuSwitcher(btn);
                    });
                    document.getElementsByClassName('footer-container')[0].style.display = 'none';
                }
                else {
                    GetUserCart(contentName.slice(8));
                    SetUserCartProductsInputs();
                }
            });
    });

    function NavMenuSwitcher(target) {
        const navArray = Array.from(document.getElementsByClassName('user-profile-nav-menu-item'));
        var text = document.querySelector(`.user-profile-nav-menu-item-text#${CSS.escape(target.id)}`).textContent;
        for (var i = 0; i < navArray.length; i++) {
            if (navArray[i].contains(target))
                navArray[i].classList.add('active');
            else navArray[i].classList.remove('active');
        }
        var userId = GetUserId();
        switch (text) {
            case 'Замовлення':
                var container = document.querySelector('.user-profile-content-main');
                container.innerHTML = '';
                container.innerHTML += '<div class="profile-loader"></div>';
                fetch(`/User/UserOrderedProductsPartialView`)
                    .then(response => response.text())
                    .then(data => {
                        container.innerHTML = '';
                        container.innerHTML += data;
                        SetInputs();
                    })
                break;
            case 'Особиста полиця':
                var container = document.querySelector('.user-profile-content-main');
                container.innerHTML = '';
                container.innerHTML += '<div class="profile-loader"></div>';
                fetch(`/User/UserPersonalShelfPartialView?userId=${userId}`)
                    .then(response => response.text())
                    .then(data => {
                        container.innerHTML = '';
                        container.innerHTML += data;
                        SetInputs();
                    })
                    .then(() => {
                        const carts = document.querySelectorAll('.profile-shelf-item');
                        const fullCartCountSpan = document.querySelector('#cartCount');
                        const fullProductCountSpan = document.querySelector('#productCount');
                        fullCartCountSpan.textContent = carts.length;
                        var fullProductCount = 0;
                        carts.forEach(cart => {
                            fetch(`/Home/GetUserProductsForCart?userId=${userId}&cartId=${cart.id}`)
                                .then(response => response.json())
                                .then((data) => {
                                    var sum = 0;
                                    fullProductCount += data.length;
                                    fullProductCountSpan.textContent = fullProductCount;
                                    const imgContainer = cart.querySelector('.item-inner-body-images');
                                    const price = cart.querySelector('.foot-inner-left-price');
                                    const count = cart.querySelector('.foot-inner-left-count');
                                    var loader = cart.querySelector('.profile-loader');
                                    loader.parentNode.removeChild(loader);
                                    if (data.length > 2) {
                                        for (var i = 0; i < 3; i++) {
                                            imgContainer.insertAdjacentHTML('beforeend', MakeImgElement(data[i].product_Id));
                                            sum += (data[i].price * data[i].count);
                                        }
                                        for (var i = 3; i < data.length; i++) {
                                            sum += (data[i].price * data[i].count);
                                        }
                                        price.textContent = sum.toFixed(2) + ' грн';
                                        count.textContent = data.length + ' товарів';
                                    }
                                    else {
                                        for (var i = 0; i < data.length; i++) {
                                            imgContainer.insertAdjacentHTML('beforeend', MakeImgElement(data[i].product_Id));
                                            sum += (data[i].price * data[i].count);
                                        }
                                        price.textContent = sum.toFixed(2) + ' грн';
                                        count.textContent = data.length + ' товарів';
                                    }
                                })
                        });
                    })
                break;
            case 'Улюблені товари':
                var container = document.querySelector('.user-profile-content-main');
                container.innerHTML = '';
                container.innerHTML += '<div class="profile-loader"></div>';
                fetch(`/User/UserFavoriteProductsPartialView?userId=${userId}`)
                    .then(response => response.text())
                    .then(data => {
                        container.innerHTML = '';
                        container.innerHTML += data;
                        SetInputs();
                    })
                break;
            case 'Налаштування':
                var container = document.querySelector('.user-profile-content-main');
                container.innerHTML = '';
                container.innerHTML += '<div class="profile-loader"></div>';
                fetch(`/User/UserSettingsPartialView?userId=${userId}`)
                    .then(response => response.text())
                    .then(data => {
                        container.innerHTML = '';
                        container.innerHTML += data;
                    })
                break;
                break;
            default:
        }

    }

    function AddToCart(event) {
        var currentTime = new Date().getTime();
        if (currentTime - lastClickTime >= 500) {
            var id = event.target.id;
            var userId = GetUserId();

            if (userId === null) {
                var product = document.querySelector(`.main-page-product[id="${id}"]`);
                var overlay = product.getElementsByClassName('product-overlay')[0];
                product.classList.add('added');
                overlay.classList.add('green');

                var counterContainer = document.getElementById(`counterContainer${id}`);
                counterContainer.style.display = 'flex';

                var span = document.getElementById(`productSpan${id}`);
                span.textContent = 1;
                var input = document.getElementById(`productInput${id}`);
                input.value = span.textContent;

                var price = document.querySelector(`.main-page-product-bottom-price[id="${id}"]`)
                if (price == null)
                    price = document.querySelector(`.main-page-product-bottom-price-promo[id="${id}"]`)
                var parsedPrice = price.textContent.slice(0, -4);
                parsedPrice = parseFloat(parsedPrice.replace(',', '.'));
                var title = product.getElementsByClassName('main-page-product-title')[0].textContent;
                var userId = GetUserId();
                var cart = document.getElementsByClassName('cart-body-items')[0];
                var leftCart = document.getElementById('leftCartItemContainer');

                var cartProduct = new CartProduct(id, 1, parsedPrice, title);
                productsInCart.push(cartProduct);
                const jsonString = JSON.stringify(productsInCart);
                document.cookie = `MyCookie=${encodeURIComponent(jsonString)}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/; Secure; SameSite=None`;
                console.log(productsInCart);

                var itemInfo = productsInCart.find(function (element) {
                    return element.id === id;
                });

                var item = AddHtmlToCart(itemInfo);
                cart.insertAdjacentHTML('beforeend', item);

                item = AddHtmlToLeftCart(itemInfo);
                leftCart.insertAdjacentHTML('beforeend', item);

                CheckIfCartIsEmpty();
                SetInputs();
                GetFullPriceForCart();
            }
            else {

                var product = document.querySelector(`.main-page-product[id="${id}"]`);
                var overlay = product.getElementsByClassName('product-overlay')[0];
                var price = document.querySelector(`.main-page-product-bottom-price[id="${id}"]`)
                if (price == null)
                    price = document.querySelector(`.main-page-product-bottom-price-promo[id="${id}"]`)
                var parsedPrice = price.textContent.slice(0, -4);
                parsedPrice = parseFloat(parsedPrice.replace(',', '.'));
                var title = product.getElementsByClassName('main-page-product-title')[0].textContent;
                var userId = GetUserId();
                var cart = document.getElementsByClassName('cart-body-items')[0];
                var leftCart = document.getElementById('leftCartItemContainer');

                fetch(`/User/AddUserCartProduct?productId=${id}&userId=${userId}&price=${parsedPrice}&title=${title}&count=${1}`);

                product.classList.add('added');
                overlay.classList.add('green');

                var counterContainer = document.getElementById(`counterContainer${id}`);
                counterContainer.style.display = 'flex';

                var span = document.getElementById(`productSpan${id}`);
                span.textContent = 1;
                var input = document.getElementById(`productInput${id}`);
                input.value = span.textContent;

                var itemInfo = new CartProduct(id, 1, parsedPrice, title);

                var item = AddHtmlToCart(itemInfo);
                cart.insertAdjacentHTML('beforeend', item);

                item = AddHtmlToLeftCart(itemInfo);
                leftCart.insertAdjacentHTML('beforeend', item);

                SetInputs();
                CheckIfCartIsEmpty();
                var sum = UpdateCartValue();
                if (sum > 0)
                    document.querySelector('.cart-text').textContent = sum + ' грн';

            }
        }
        lastClickTime = currentTime;
    };

    function SelectProduct(id) {
        var product = document.querySelector(`.main-page-product[id="${id}"]`);
        const overlay = product.querySelector('.product-overlay');
        var checkBoxOff = product.querySelector('.checkbox__svg_not-checked');
        var checkBoxOn = product.querySelector('.checkbox__svg_checked');
        const deleteFavoriteBtn = document.querySelector('.delete');
        if (overlay.classList.contains('selected')) {
            checkBoxOn.style.display = 'none';
            checkBoxOff.style.display = 'block';
            overlay.classList.remove('selected');
            if (!CheckSelectedItems())
                deleteFavoriteBtn.classList.add('button-disabled');

        }
        else {
            checkBoxOff.style.display = 'none';
            checkBoxOn.style.display = 'block';
            overlay.classList.add('selected');
            deleteFavoriteBtn.classList.remove('button-disabled');
        }
    }

    function CheckSelectedItems() {
        var product = document.querySelector('.selected');
        if (product) return true;
        return false;
    }

    function SelectAllFavoriteProducts() {
        const products = document.querySelectorAll('.main-page-product');
        const deleteFavoriteBtn = document.querySelector('.delete');
        const selectBtn = document.querySelector('.select-all');
        const spanText = selectBtn.querySelector('span').textContent;
        if (spanText === 'Вибрати всі товари') {
            products.forEach(product => {
                const checkBoxOff = product.querySelector('.checkbox__svg_not-checked');
                const checkBoxOn = product.querySelector('.checkbox__svg_checked');
                const overlay = product.querySelector('.product-overlay');
                checkBoxOff.style.display = 'none';
                checkBoxOn.style.display = 'block';
                overlay.classList.add('selected');
            });
            deleteFavoriteBtn.classList.remove('button-disabled');
            selectBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="" style="" width="1.000rem" height="1.000rem" fill="none"><path d="M2 2L14 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M14 2L2 14"></path></svg>
                                                                                       <span>Зняти відмітки</span>`;
        }
        else {
            products.forEach(product => {
                const checkBoxOff = product.querySelector('.checkbox__svg_not-checked');
                const checkBoxOn = product.querySelector('.checkbox__svg_checked');
                const overlay = product.querySelector('.product-overlay');
                checkBoxOn.style.display = 'none';
                checkBoxOff.style.display = 'block';
                overlay.classList.remove('selected');
            });
            deleteFavoriteBtn.classList.add('button-disabled');
            selectBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" class="" style="transform: scale(1.1);"><circle fill="none" stroke="currentColor" stroke-width="2" cx="8.5" cy="8.5" r="7"></circle><path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M11.5,6.5l-4.3,4L5.5,8.9"></path></svg>
                                                                                       <span>Вибрати всі товари</span>`;
        }
    }

    function DeleteFromFavoriteProducts() {
        var userId = GetUserId();
        const productOverlays = document.querySelectorAll('.selected');
        var Ids = [];
        productOverlays.forEach(overlay => {
            Ids.push(overlay.id.slice(7));
            overlay.parentNode.parentNode.remove();
        });
        const idString = Ids.join(',');
        fetch(`/User/DeleteUserFavoriteProducts?idToRemove=${idString}&userId=${userId}`);
        const products = document.querySelectorAll('.main-page-product');
        if (products.length == 0) {
            document.querySelector('.heart-icon path').classList.remove('active');
            const container = document.querySelector('.user-profile-content-main')
            container.innerHTML = `
                                                                    <div class="user-profile-content-empty">
                                                                        <span class="user-profile-content-empty-title">У вас поки що немає збережених товарів</span>
                                                                    <a href="/" style="text-decoration:none;">
                                                                        <div class="user-profile-content-empty-button">Перейти на головну</div>
                                                                    </a>
                                                                    </div>
                                                                `;
        }
        else
            document.querySelector('.products-filter-container-round-count').textContent = products.length;
    }

    function MakeImgElement(id) {
        return `<img src="/Product_Images/product_${id}.jpg" />`
    }

    function DeleteUserCart(cartId) {
        var userId = GetUserId();
        fetch(`/User/DeleteUserCart?cartId=${cartId}&userId=${userId}`);
        document.querySelector('#cartCount').textContent -= 1;
        var deletedCart = document.querySelector(`.profile-shelf-item#${CSS.escape(cartId)}`)
        document.querySelector('#productCount').textContent -= deletedCart.querySelector('.foot-inner-left-count').textContent.slice(0, -8);
        deletedCart.parentNode.removeChild(deletedCart);
    }

    function GetUserCart(cartId) {
        const btns = document.querySelectorAll('.user-profile-nav-menu-item');
        btns.forEach(btn => {
            var text = btn.querySelector('.user-profile-nav-menu-item-text').textContent;
            if (text === 'Особиста полиця') {
                btn.classList.add('active');
            }
            else {
                btn.classList.remove('active');
            }
        });
        document.getElementsByClassName('footer-container')[0].style.display = 'none';
        var container = document.querySelector('.user-profile-content-main');
        container.innerHTML = '';
        container.innerHTML += '<div class="profile-loader"></div>';
        const loader = document.querySelector('.profile-loader');
        const userId = GetUserId();

        fetch(`/User/UserCartPartialView?cartId=${cartId}`)
            .then(response => response.text())
            .then(response => {
                loader.parentNode.removeChild(loader);
                container.innerHTML = response;
                var list = document.querySelector('.cart-body-products-list');
                list.innerHTML += '<div class="profile-loader"></div>';
                var loaderMini = list.querySelector('.profile-loader');

                var fetchPromises = [];

                fetchPromises.push(fetch(`/Home/GetUserProductsForCart?userId=${userId}&cartId=${cartId}`)
                    .then(response => response.json())
                    .then(products => {
                        SetPriceAndCoutInUserCart(products);
                        loaderMini.parentNode.removeChild(loaderMini);
                        products.forEach(product => {
                            var el = MakeHtmlForUserCartProduct(product);
                            list.insertAdjacentHTML('beforeend', el);
                        });
                    }));

                Promise.all(fetchPromises)
                    .then(() => {
                        SetUserCartProductsInputs();
                    });
            });

    }

    function MakeHtmlForUserCartProduct(prod) {
        return `
                                                    <li class="products-list-item" id="cartProduct${prod.product_Id}">
                                                                    ${prod.promo && prod.promo !== 'null' ? `<div style="z-index:2;" class="main-page-product-promo" id="promo${prod.id}">
                                                                                            <p class="main-page-product-promo-text">${prod.promo}</p>
                                                                                        </div>` : ''}

                                                                    <div class="products-list-item-inner">
                                                                        <div class="product-item-inner-body">
                                                                            <div class="item-inner-body-image">
                                                                                <img src="/Product_Images/product_${prod.product_Id}.jpg" />
                                                                            </div>
                                                                            <div class="item-inner-body-info">
                                                                                <div class="inner-body-info-inner">
                                                                                        <a class="product-link" href="/Home/ProductView/${prod.product_Id}" style="text-decoration:none !important; color:black">${prod.title}</a>
                                                                                        <div id="${prod.product_Id}" class="cart-body-item-info-count-btn">
                                                                                                    <svg onclick="UserCartMinus(event.target.id)" id="${prod.product_Id}"  width="2.000rem" height="2.000rem" viewBox="0 0 32 32" fill="none" cursor="pointer" xmlns="http://www.w3.org/2000/svg" class=""><rect id="${prod.product_Id}" x="22" y="15" width="2" height="12" rx="1" transform="rotate(90 22 15)" fill="currentColor"></rect></svg>
                                                                                        <div style="height:100%; width:60px; position:relative; display:flex; align-items:center; justify-content:center;">
                                                                                                        <input id="userCartInput${prod.product_Id}" type="text" inputmode="numeric" maxlength="3" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="num-input user-cart-input" value="${prod.count}">
                                                                                                <span id="userCartSpan${prod.product_Id}" class="cart-body-item-info-count-btn-counter-num">${prod.count}</span>
                                                                                            <span class="cart-body-item-info-count-btn-counter-text">шт</span>
                                                                                        </div>
                                                                                                        <svg onclick="UserCartPlus(event.target.id)" id="${prod.product_Id}" width="2.000rem" height="2.000rem" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" cursor="pointer" style="justify-self:end;"><rect id="${prod.product_Id}" x="15" y="10" width="2" height="12" rx="1" fill="currentColor"></rect><rect id="${prod.product_Id}" x="22" y="15" width="2" height="12" rx="1" transform="rotate(90 22 15)" fill="currentColor"></rect></svg>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="item-inner-body-other">
                                                                                <div class="inner-body-other-price">
                                                                                                    ${prod.promo && prod.promo !== 'null' ? `<p class="total-price" style="color:red">${(prod.price * prod.count).toFixed(2)} грн</p>` : `<p class="total-price">${(prod.price * prod.count).toFixed(2)} грн</p>`}
                                                                                                <p class="price-per-product">${prod.price} грн за шт</p>
                                                                                </div>
                                                                                <div class="inner-body-other-btns">
                                                                                                            <div class="btn" onclick="DeleteUserCartProduct(event.target.id)" id="${prod.product_Id}"><svg id="${prod.product_Id}" width="1.000rem" height="1.000rem" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=""><path id="${prod.product_Id}" d="M2 4H3.33333H14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path id="${prod.product_Id}" d="M4.99976 4V2.66667C4.99976 2.31305 5.14023 1.64005 5.39028 1.39C5.64033 1.13995 5.97947 1 6.33309 1L9.66642 1C10.02 1 10.3592 1.13995 10.6092 1.39C10.8593 1.64005 10.9998 2.31305 10.9998 2.66667V4M12.9998 4V13.6667C12.9998 14.0203 12.8593 14.3594 12.6092 14.6095C12.3592 14.8595 12.02 15 11.6664 15H4.33309C3.97947 15 3.64033 14.8595 3.39028 14.6095C3.14023 14.3594 2.99976 14.0203 2.99976 13.6667V4H12.9998Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path id="${prod.product_Id}" d="M6.5 7.5V11.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path id="${prod.product_Id}" d="M9.5 7.5V11.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                `
    }

    function SetPriceAndCoutInUserCart(products) {
        sum = 0;
        products.forEach(product => {
            sum -= -(product.count * product.price).toFixed(2);
        });
        document.querySelector('.info-price').textContent = sum.toFixed(2) + ' грн';
        document.querySelector('.info-count').textContent = products.length + ' товарів';
    }

    var lastClickTime = 0;

    function UserCartPlus(id) {
        var currentTime = new Date().getTime();
        if (currentTime - lastClickTime >= 500) {
            const input = document.getElementById('userCartInput' + id);
            const span = document.getElementById('userCartSpan' + id);
            if (input.value < 999) {
                const cartId = document.querySelector('.profile-user-cart').id;
                span.textContent -= - 1;
                input.value = span.textContent;
                fetch(`/User/UpdateProfileUserCartProduct?cartId=${cartId}&productId=${id}&count=${input.value}`);
            }
            UpdateCartProductTotalPrice('cartProduct' + id, span.textContent);
            UpdateCartProductsTotalPrice();
            lastClickTime = currentTime;
        }
    }

    function UserCartMinus(id) {
        var currentTime = new Date().getTime();
        if (currentTime - lastClickTime >= 500) {
            const input = document.getElementById('userCartInput' + id);
            const span = document.getElementById('userCartSpan' + id);
            const cartId = document.querySelector('.profile-user-cart').id;
            if (input.value > 1) {
                const cartId = document.querySelector('.profile-user-cart').id;
                span.textContent -= 1;
                input.value = span.textContent;
                fetch(`/User/UpdateProfileUserCartProduct?cartId=${cartId}&productId=${id}&count=${input.value}`);
                UpdateCartProductTotalPrice('cartProduct' + id, span.textContent);
            }
            else {
                fetch(`/User/DeleteProfileUserCartProduct?cartId=${cartId}&productId=${id}`);
                const product = document.getElementById('cartProduct' + id);
                product.parentNode.removeChild(product);
                UpdateCartProductsCount();
            }
            UpdateCartProductsTotalPrice();
            lastClickTime = currentTime;
        }
    }

    function SetUserCartProductsInputs() {
        const inputs = document.querySelectorAll('.user-cart-input');
        inputs.forEach(input => {
            var id = input.id.slice(13);
            var span = document.getElementById('userCartSpan' + id);
            input.addEventListener('input', function () {
                span.textContent = input.value;
                UpdateCartProductTotalPrice('cartProduct' + id, span.textContent);
                UpdateCartProductsTotalPrice();
            });
            input.addEventListener('blur', function () {
                const cartId = document.querySelector('.profile-user-cart').id;
                if (input.value === '') {
                    input.value = 1;
                    span.textContent = 1;
                }
                fetch(`/User/UpdateProfileUserCartProduct?cartId=${cartId}&productId=${id}&count=${input.value}`);
            });
        });
    }

    function UpdateCartProductTotalPrice(id, count) {
        var product = document.getElementById(id);
        const price = product.querySelector('.total-price');
        const pricePerProduct = product.querySelector('.price-per-product').textContent.slice(0, -10);
        price.textContent = (pricePerProduct * count).toFixed(2) + ' грн';
    }

    function UpdateCartProductsCount() {
        var products = document.querySelectorAll('.products-list-item');
        var count = document.querySelector('.info-count');
        count.textContent = products.length + ' товарів';
    }

    function UpdateCartProductsTotalPrice() {
        const products = document.querySelectorAll('.products-list-item');
        var sum = 0;
        products.forEach(product => {
            var price = product.querySelector('.total-price').textContent;
            price = price.slice(0, -4);
            sum -= - price;
        });
        document.querySelector('.info-price').textContent = sum.toFixed(2) + ' грн';
    }

    function DeleteUserCartProduct(id) {
        const cartId = document.querySelector('.profile-user-cart').id;
        fetch(`/User/DeleteProfileUserCartProduct?cartId=${cartId}&productId=${id}`);
        const product = document.getElementById('cartProduct' + id);
        product.parentNode.removeChild(product);
        UpdateCartProductsTotalPrice();
        UpdateCartProductsCount();
    }

    function DeleteUserCartCartView() {
        var userId = GetUserId();
        var cartId = document.querySelector('.profile-user-cart').id;
        ShowLoader();
        fetch(`/User/DeleteUserCart?cartId=${cartId}&userId=${userId}`)
            .then(() => {
                GetProfile('Особиста полиця');
            })
    }

    function ShowCartEditor() {
        var cartEditor = document.getElementById('cartEditor');
        var overlay = document.querySelector('#overlayDark');
        var cartName = document.querySelector('.user-cart-head-top span').textContent;
        var input = cartEditor.querySelector('#formInput10');
        input.value = cartName;
        var price = document.querySelector('.info-price').textContent;
        var count = document.querySelector('.info-count').textContent;
        var cartPrice = cartEditor.querySelector('#cartMakerPrice');
        var cartCount = cartEditor.querySelector('#cartMakerCount');
        cartPrice.textContent = price.slice(0, -3);
        cartCount.textContent = count.slice(0, -8);
        cartEditor.classList.add('active');
        cartEditor.style.opacity = '1';
        overlay.classList.add('active');
        overlay.style.opacity = '0.8';
    }

    function CloseCartEditor() {
        var cartEditor = document.getElementById('cartEditor');
        if (cartEditor) {
            var overlay = document.querySelector('#overlayDark');
            cartEditor.style.opacity = '0';
            overlay.style.opacity = '0';
            setTimeout(function () {
                cartEditor.classList.remove('active');
                overlay.classList.remove('active');
            }, 500);
        }
    }

    function UpdateCart() {
        const cartEditor = document.querySelector('#cartEditor');
        var input = cartEditor.querySelector('#formInput10');
        if (input.value.length === 0) {
            input.style.border = '0.12rem solid #ff5631';
            var errorSpan = cartEditor.querySelector('#errorSpan10');
            errorSpan.style.display = 'block';
            const cartMaker = cartEditor.querySelector('.cart-maker-container-content');
            cartMaker.style.marginTop = '19px';

        }
        else {
            var cartName = input.value;
            document.querySelector('.user-cart-head-top .title .text').textContent = cartName;
            var cartId = document.querySelector('.profile-user-cart').id;
            fetch(`/User/RenameUserCart?cartId=${cartId}&cartName=${cartName}`);
            CloseCartEditor();
        }
    }

    function PersonalDataShow(){
        ClosePersonalDataEditor();
        setTimeout(function () {
            ShowPersonalData();
        }, 550);
    }

    function SavePersonalData(){
        SetPersonalDataTexts();
        const userId = GetUserId();
        const name = document.getElementById('formInput12').value;
        const surname = document.getElementById('formInput11').value;
        const secondName = document.getElementById('formInput13').value;
        const phoneNumber = document.getElementById('formInput14').value;
        fetch(`/User/UpdateUserPersonalData?userId=${userId}&name=${name}&surname=${surname}&secondName=${secondName}&phoneNumber=${phoneNumber}`);
        PersonalDataShow();
    }

    function PersonalDataEditorShow(){
        document.querySelector('#formInput14').addEventListener('input', function (event) {
            var value = event.target.value;
            event.target.value = value.replace(/\D/g, '');
        });
        SetPersonalDataEditorInputs();
        ClosePersonalData();
        setTimeout(function () {
            ShowPersonalDataEditor();
        }, 550);
    }

    function ClosePersonalData() {
        var container = document.querySelector('.settings-body-data-list-inner');
        container.style.opacity = '0';
        setTimeout(function () {
            container.style.display = 'none';
        }, 500);
    }

    function ShowPersonalData() {
        var container = document.querySelector('.settings-body-data-list-inner');
        container.style.display = 'flex';
        container.style.opacity = '1';
    }

    function ClosePersonalDataEditor() {
        var container = document.querySelector('.settings-body-data-editor-list-inner');
        var btns = document.querySelector('.settings-editor-btns');
        container.style.transition = 'opacity 0.5s ease';
        btns.style.transition = 'opacity 0.5s ease';
        container.style.opacity = '0';
        btns.style.opacity = '0';
        setTimeout(function () {
            container.style.display = 'none';
            btns.style.display = 'none';
        }, 500);
    }

    function ShowPersonalDataEditor() {
        var container = document.querySelector('.settings-body-data-editor-list-inner');
        var btns = document.querySelector('.settings-editor-btns');
        container.style.display = 'flex';
        btns.style.display = 'flex';
        container.style.opacity = '1';
        btns.style.opacity = '1';
    }

    function SetPersonalDataEditorInputs(){
        var texts = document.querySelectorAll('.data-list-inner-item .text');
        texts.forEach(text => {
            var id = text.id.slice(4);
            var input = document.getElementById('formInput'+id);
            if(text.textContent != '-')
            input.value = text.textContent;
        })
    }

    function SetPersonalDataTexts(){
        var inputs = document.querySelectorAll('.personal-data-input');
        inputs.forEach(input => {
            var id = input.id.slice(9);
            var text = document.getElementById('text'+id);
            if(input.value.length > 0){
                text.textContent = input.value;
            }
            else{
                text.textContent = '-';
            }
        })
    }
</script>