<div class="user-profile-content-empty">
    <span class="user-profile-content-empty-title">У вас поки що немає історії замовлення. Зробіть своє перше замовлення та отримайте бонуси</span>
    <a asp-controller="Home" asp-action="Index" style="text-decoration:none;">
        <div class="user-profile-content-empty-button">Перейти до замовлення</div>
    </a>
</div>