@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<header>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</header>
<div class="page-content">
    <div class="header-bottom">
        <div class="header-bottom-item">
            <p class="header-bottom-item-text active" onclick="GetMainPartialOnClick(event), ShowLoader()">Головна</p>
            <div class="header-bottom-item-dot active" onclick="GetMainPartialOnClick(event), ShowLoader()"></div>
        </div>
        <div class="header-bottom-item">
            <p class="header-bottom-item-text" onclick="GetSecondPartial(event), ShowLoader()">Всі акції</p>
            <div class="header-bottom-item-dot" onclick="GetSecondPartial(event), ShowLoader()"></div>
        </div>
        <div class="header-bottom-item">
            <p class="header-bottom-item-text" onclick="ShowLoader(), GetThirdPartial(event)">Особиста полиця</p>
            <div class="header-bottom-item-dot" onclick="ShowLoader(), GetThirdPartial(event)"></div>
        </div>
    </div>
    <div id="partialContainer" style="height:calc(100% - 7rem);">@Html.Partial("MainPartialView", Model.mainPartialViewModel)</div>
    
</div>
<script>
    let slider, slides, categories, dotsContainer, dotsArray, currentIndex, lastExecutionTime, autoPlayTimer;

    document.addEventListener("DOMContentLoaded", function () {
        GetMainPartial();
    });




    function GetMainPartial() {

        slider = document.querySelector('.slider');
        slides = document.querySelectorAll('.slider-img');
        slider.style.gridTemplateColumns = `repeat(${slides.length}, 100%)`;

        slides = document.querySelectorAll('.slider-img');
        categories = Array.from(document.querySelectorAll('.main-page-category'));
        dotsContainer = document.querySelector('.slider-dots-container');
        dotsArray;
        currentIndex = 0;
        lastExecutionTime = 0;
        autoPlayTimer;


        for (var i = 0; i < slides.length; i++) {
            var newLiElement = document.createElement('li');
            newLiElement.className = 'slider-dot';
            newLiElement.id = `dot-${i}`;
            newLiElement.addEventListener('click', Dots);
            dotsContainer.appendChild(newLiElement);
        }
        dotsContainer.firstElementChild.classList.add('active-dot');
        dotsArray = Array.from(dotsContainer.children);
    }

    function GetMainPartialOnClick(event) {
        BottomHeaderMenuSwicher(event);
        fetch('/Home/GetMainPartialView')
            .then(response => response.text())
            .then(data => {
                document.getElementById('partialContainer').innerHTML = '';
                document.getElementById('partialContainer').innerHTML = data;
                SetInputs();
            })
            .then(function () {
                GetMainPartial();
                CloseLoader();
            })
            .catch(error => console.error("Failed to load partial:", error));
    };



    function GetSecondPartial(event) {
        BottomHeaderMenuSwicher(event);
        fetch('/Home/GetSecondPartialView')
            .then(response => response.text())
            .then(data => {
                document.getElementById('partialContainer').innerHTML = '';
                document.getElementById('partialContainer').innerHTML = data;
                CloseLoader();
            })
            .catch(error => console.error("Failed to load partial:", error));
    }

    function GetThirdPartial(event) {
        var userId = GetUserId();
        if(userId !== null){
        BottomHeaderMenuSwicher(event);
        var prodCountSpan;
        var cartCountSpan;
        var inOrderedCountSpan;

        fetch(`/Home/GetThirdPartialView?user_Id=${userId}`)
            .then(response => response.text())
            .then(data => {
                document.getElementById('partialContainer').innerHTML = '';
                document.getElementById('partialContainer').innerHTML = data;
                CloseLoader();
            })
            .then(() => {

                const carts = document.querySelectorAll('.shelf-item');
                const userId = GetUserId();
                prodCountSpan = document.getElementById('productCount');
                cartCountSpan = document.getElementById('cartCount');
                inOrderedCountSpan = document.getElementById('inOrdered');
                cartCountSpan.textContent = carts.length;
                inOrderedCountSpan.textContent = 0;
                prodCountSpan.textContent = 0;
                carts.forEach(cart => {
                    fetch(`/Home/GetUserProductsForCart?userId=${userId}&cartId=${cart.id}`)
                        .then(response => response.json())
                        .then(response => {
                            var container = cart.querySelector('.card-list');
                            container.innerHTML = '';
                            prodCountSpan.textContent -= -response.length;

                            var sum = 0;
                            response.forEach(product => {
                                container.insertAdjacentHTML('beforeend', HtmlProductInCartMaker(product, sum));
                                sum -= -GetPrice(product);
                            })
                            const price = cart.querySelector('.footer-left-side h1');
                            price.textContent = sum.toFixed(2) + ' грн';
                            const count = cart.querySelector('.footer-left-side p');
                            count.textContent = response.length + ' товарів';
                        })
                });
            })
            .catch(error => console.error("Failed to load partial:", error));
         }
         else{
             CloseLoader();
             ShowAuthorization();
         }
    }

    function GetFourthPartial(event) {
        BottomHeaderMenuSwicher(event);
        fetch('/Home/GetFourthPartialView')
            .then(response => response.text())
            .then(data => {
                document.getElementById('partialContainer').innerHTML = '';
                document.getElementById('partialContainer').innerHTML = data;
                CloseLoader();
            })
            .catch(error => console.error("Failed to load partial:", error));
    }


    function ShowCategory(event, category) {
        categories.forEach(function (category) {
            if (category.id === event.target.id) {
                text = category.getElementsByTagName('p')[0];
                text.style.display = 'none';
                category.classList.add('active');

            }
            else {
                category.classList.remove('active');
                text = category.getElementsByTagName('p')[0];
                text.style.display = 'block';
            }
        });
        fetch('/Home/GetProductPartialView?name=' + category)
            .then(response => response.text())
            .then(data => {
                document.getElementsByClassName('main-page-products')[0].innerHTML = '';
                document.getElementsByClassName('main-page-products')[0].innerHTML = data;
            })
            .then(function () {
                GetUserFavoriteProducts();
                SetInputs();
            })
            .catch(error => console.error("Failed to load partial:", error));

    }

    function Dots(event) {
        currentIndex = parseInt(event.target.id.substring(4), 10);
        updateSlider();
        dotsArray.forEach(function (dot) {
            if (event.target.id === dot.id)
                dot.classList.add('active-dot');
            else
                dot.classList.remove('active-dot')
        });
    }


    addEventListener('resize', function () {
        currentIndex = (currentIndex) % slides.length;
        updateSlider();
    });

    function updateSlider() {
        const slideWidth = slides[0].clientWidth;
        slider.style.transform = `translateX(-${currentIndex * slideWidth}px)`;
    }

    function GoForward() {
        const currentTime = Date.now();
        if (currentTime - lastExecutionTime >= 500) {
            currentIndex = (currentIndex + 1) % slides.length;
            dotsArray.forEach(function (dot) {
                if (dot.id === `dot-${currentIndex}`)
                    dot.classList.add('active-dot');
                else
                    dot.classList.remove('active-dot')
            });
            updateSlider();
            lastExecutionTime = currentTime;
            restartAutoPlayTimer();
        }
    }

    function GoBack() {
        const currentTime = Date.now();
        if (currentTime - lastExecutionTime >= 500) {
            if (currentIndex > 0)
                currentIndex = (currentIndex - 1) % slides.length;
            else currentIndex = slides.length - 1;
            dotsArray.forEach(function (dot) {
                if (dot.id === `dot-${currentIndex}`)
                    dot.classList.add('active-dot');
                else
                    dot.classList.remove('active-dot')
            });
            updateSlider();
            lastExecutionTime = currentTime;
            restartAutoPlayTimer();
        }
    }

    function restartAutoPlayTimer() {
        clearTimeout(autoPlayTimer);
        autoPlayTimer = setTimeout(GoForward, 10000);
    }

    function AddToCart(event) {
        var currentTime = new Date().getTime();
        if (currentTime - lastClickTime >= 500) {
            var id = event.target.id;
            var userId = GetUserId();

            if (userId === null) {
                var product = document.querySelector(`.main-page-product[id="${id}"]`);
                var overlay = product.getElementsByClassName('product-overlay')[0];
                product.classList.add('added');
                overlay.classList.add('green');

                var counterContainer = document.getElementById(`counterContainer${id}`);
                counterContainer.style.display = 'flex';

                var span = document.getElementById(`productSpan${id}`);
                span.textContent = 1;
                var input = document.getElementById(`productInput${id}`);
                input.value = span.textContent;

                var price = document.querySelector(`.main-page-product-bottom-price[id="${id}"]`)
                if (price == null)
                    price = document.querySelector(`.main-page-product-bottom-price-promo[id="${id}"]`)
                var parsedPrice = price.textContent.slice(0, -4);
                parsedPrice = parseFloat(parsedPrice.replace(',', '.'));
                var title = product.getElementsByClassName('main-page-product-title')[0].textContent;
                var userId = GetUserId();
                var cart = document.getElementsByClassName('cart-body-items')[0];
                var leftCart = document.getElementById('leftCartItemContainer');
                const promoDiv = document.querySelector(`#promo${id}`);
                var promo = null;
                if (promoDiv) promo = promoDiv.textContent.trim();

                var cartProduct = new CartProduct(id, 1, parsedPrice, title, promo);
                productsInCart.push(cartProduct);
                const jsonString = JSON.stringify(productsInCart);
                document.cookie = `MyCookie=${encodeURIComponent(jsonString)}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/; Secure; SameSite=None`;

                var itemInfo = productsInCart.find(function (element) {
                    return element.id === id;
                });

                var item = AddHtmlToCart(itemInfo);
                cart.insertAdjacentHTML('beforeend', item);

                item = AddHtmlToLeftCart(itemInfo);
                leftCart.insertAdjacentHTML('beforeend', item);

                CheckIfCartIsEmpty();
                SetInputs();
                GetFullPriceForCart();
            }
            else {

                var product = document.querySelector(`.main-page-product[id="${id}"]`);
                var overlay = product.getElementsByClassName('product-overlay')[0];
                var price = document.querySelector(`.main-page-product-bottom-price[id="${id}"]`)
                if (price == null)
                    price = document.querySelector(`.main-page-product-bottom-price-promo[id="${id}"]`)
                var parsedPrice = price.textContent.slice(0, -4);
                parsedPrice = parseFloat(parsedPrice.replace(',', '.'));
                var title = product.getElementsByClassName('main-page-product-title')[0].textContent;
                var userId = GetUserId();
                var cart = document.getElementsByClassName('cart-body-items')[0];
                var leftCart = document.getElementById('leftCartItemContainer');
                const promoDiv = document.querySelector(`#promo${id}`);
                var promo = null;
                if (promoDiv) promo = promoDiv.textContent.trim();
                const brand = product.querySelector('.main-page-product-mass').textContent;
                const country = product.querySelector('.main-page-product-bottom-price-brand').textContent;

                fetch(`/User/AddUserCartProduct?productId=${id}&userId=${userId}&price=${parsedPrice}&title=${title}&count=${1}&promo=${promo}&brand=${brand}&country=${country}`);

                product.classList.add('added');
                overlay.classList.add('green');

                var counterContainer = document.getElementById(`counterContainer${id}`);
                counterContainer.style.display = 'flex';

                var span = document.getElementById(`productSpan${id}`);
                span.textContent = 1;
                var input = document.getElementById(`productInput${id}`);
                input.value = span.textContent;

                var itemInfo = new CartProduct(id, 1, parsedPrice, title, promo);

                var item = AddHtmlToCart(itemInfo);
                cart.insertAdjacentHTML('beforeend', item);

                item = AddHtmlToLeftCart(itemInfo);
                leftCart.insertAdjacentHTML('beforeend', item);

                SetInputs();
                CheckIfCartIsEmpty();
                var sum = UpdateCartValue();
                if (sum > 0)
                    document.querySelector('.cart-text').textContent = sum + ' грн';

            }
        }
        lastClickTime = currentTime;
    };

    restartAutoPlayTimer();

    function HtmlProductInCartMaker(product) {
        var item = ` <li style="position:relative">
                    ${product.promo && product.promo !== 'null' ? `<div class="main-page-product-promo" style="border-radius:0; z-index:1;">
                                                                                <p class="main-page-product-promo-text" style="font-size:10px">${product.promo}</p>
                                                                            </div>` : ''}
                          <a class="card-link" href="/Home/ProductView/${product.product_Id}">
                              <img src="./Product_Images/product_${product.product_Id}.jpg" />
                              <div class="content">
                                      <h1>${product.title}</h1>
                                      ${product.brand && product.brand !== 'null' ? `<p>
                                          ${product.brand}
                                      </p>` : ''}
                                             
                              </div>
                              <div class="country">
                                         ${product.country && product.country !== 'null' ? `${product.country}`: ''}
                              </div>
                          </a>
                     </li>`
        return item;
    }
    function GetPrice(product) {
        return (product.price * product.count).toFixed(2);
    }
</script>