<div class="all-promo-container">
    <div class="all-promo-container-inner">
        <div class="all-promo-head">
            <div class="all-promo-head-left">
                <p class="text">Пропозиції</p>
                <div class="round">6</div>
            </div>
        </div>
        <div class="all-promo-container-body">
            <div class="promo-container-body-list">
                <div class="promo-container-body-list-inner">
                    <div class="container-body-list-item">
                        <a href="/">
                            <img class="all-promo-img" src="./Images/Promo1.webp" />
                        </a>
                    </div>
                    <div class="container-body-list-item">
                        <a href="/">
                            <img class="all-promo-img" src="./Images/Promo2.webp" />
                        </a>
                    </div>
                    <div class="container-body-list-item">
                        <a href="/">
                            <img class="all-promo-img" src="./Images/Promo3.webp" />
                        </a>
                    </div>
                    <div class="container-body-list-item">
                        <a href="/">
                            <img class="all-promo-img" src="./Images/Promo4.webp" />
                        </a>
                    </div>
                    <div class="container-body-list-item">
                        <a href="/">
                            <img class="all-promo-img" src="./Images/Promo5.webp" />
                        </a>
                    </div>
                    <div class="container-body-list-item">
                        <a href="/">
                            <img class="all-promo-img" src="./Images/Promo6.webp" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
