<div class="products-view-container">
    <div class="navigation-container">
        <a class="nav-link active">Novus</a>
        <p class="nav-link-arrow"> > </p>
        <a class="nav-link">Кулінарія</a>
        <p class="nav-link-arrow"> > </p>
        <a class="nav-link">Хліб</a>
    </div>
    <div class="products-filter-container">

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#skeleton').hide();
    });
</script>